*{
    margin:0;
    padding: 0;
}
div.card{
    width: 200px;
    height: 300px;
    background-color: rgb(230, 228, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.card>img{
    width: 80%;
    height:50% ;
}